* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gary4: #bdbdbd;
  --gray6: #f2f2f2;
}

/*html {
  transition: 0.3s;
}*/

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1332px;
  width: 100%;
}

.about-container {
  margin: 0 auto;
  max-width: 886px;
  width: 100%;
}

.section-container {
  margin: 0 auto;
  max-width: 1112px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}

.logo {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  text-decoration: none;
  color: var(--gray1);
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu-item {
  margin-left: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: var(--gray1);
}

.main {
  margin-top: 96px;
}

.about {
  margin-bottom: 200px;
}

.main-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2d9cdb;
}

.main-title {
  margin-top: 16px;
  margin-bottom: 42px;
  max-width: 545px;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: var(--gray1);
}

.about-photo {
  margin-bottom: 42px;
  width: 100%;
  height: 354px;
  border-radius: 18px;
  background-image: url(img/heroImage.jpg);
  background-size: cover;
}

.about-text {
  margin-bottom: 42px;
  max-width: 366px;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray2);
}

.email-label {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray3);
}

.input-area {
  position: relative;
  width: 350px;
}

.email-input {
  padding-left: 21px;
  width: 100%;
  height: 57px;
  background: var(--gray6);
  border-radius: 12px;
  border: none;
}

.email-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--gary4);
}

.input-button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 11px 28px;
  background: #2d9cdb;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray6);
  cursor: pointer;
  transition: 0.3s;
}

.input-button:hover {
  background: #27ae60;
}

.section-title {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: var(--gray1);
}

.services-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 194px;
}

.service-card {
  display: block;
  padding: 46px 34px;
  width: 341px;
  height: 422px;
  text-decoration: none;
  border-radius: 24px;
  transition: 0.3s;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  color: #fff;
  background: #2d9cdb;
  border-radius: 16px;
}

.code-icon {
  background: #27ae60;
}

.storage-icon {
  background: #eb5757;
}

.card-title {
  margin-top: 35px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.card-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray2);
}

.card-button {
  padding: 9px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  background: #e0e0e0;
  border-radius: 12px;
  border: none;
  transition: 0.3s;
}

.service-card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.service-card:hover .card-button {
  color: #fff;
  background: #2d9cdb;
}

.works-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.work-card {
  display: block;
  text-decoration: none;
}

.work-card:nth-child(2n + 1) {
  margin-top: 188px;
}

.project-image {
  max-width: 545px;
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.work-card:hover .project-image {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.3);
}

.project-subtitle {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray3);
}

.project-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.more-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2d9cdb;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.more-button:hover {
  color: #27ae60;
}

.arrow {
  margin-left: 17px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 220px;
}

.team-info {
  max-width: 280px;
}

.team-subtitle {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #eb5757;
}

.team-text {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray2);
}

.team-photos {
  display: flex;
  align-items: center;
}

.team-photos-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 24px;
}

.team-photo {
  border-radius: 24px;
}

.reviews {
  margin-top: 196px;
  margin-bottom: 200px;
}

.review-text {
  margin-bottom: 40px;
  max-width: 937px;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: var(--gray1);
}

.review-autor {
  display: flex;
  align-items: center;
}

.autor-photo {
  margin-right: 30px;
  width: 82px;
  border-radius: 12px;
}

.autor-info {
  display: flex;
  flex-direction: column;
}

.autor-name {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.autor-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray3);
}

.footer {
  padding: 46px 0 24px 0;
  background-color: #100e1d;
}

.footer-menu {
  list-style-type: none;
}

.footer-menu-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;
}

.footer-contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}

.footer .logo {
  margin-bottom: 8px;
  color: var(--gray6);
}

.footer .email-label {
  color: var(--gray6);
}

.social-link {
  text-decoration: none;
  margin-right: 11px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-user-info {
  text-align: center;
}

.user-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray6);
}

.footer-link {
  color: var(--gray6);
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--gray3);
}

.user-link {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .container,
  .section-container {
    max-width: 95%;
  }
}

@media (max-width: 1220px) {
  .project-image {
    max-width: 450px;
  }
}

@media (max-width: 1024px) {
  .project-image {
    max-width: 350px;
  }

  .about {
    margin-bottom: 150px;
  }

  .services-cards {
    margin-bottom: 150px;
  }

  .team {
    margin-top: 150px;
  }

  .reviews {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .team-photo {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .work-card:nth-child(2n + 1) {
    margin-top: 0;
  }

  .services-cards {
    flex-direction: column;
  }

  .team-photo {
    width: 150px;
  }
}

@media (max-width: 700px) {
  .team {
    flex-direction: column;
  }

  .team-text {
    margin-bottom: 36px;
  }

  .footer-contact-info {
    flex-direction: column;
  }

  .footer-menu {
    margin-bottom: 64px;
  }

  .footer-social-links {
    margin-bottom: 65px;
  }

  .footer .section-container {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .about-container {
    max-width: 90%;
  }
  .main {
    margin-top: 48px;
  }

  .logo {
    font-size: 24px;
    line-height: 35px;
  }

  .main-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .main-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
  }

  .about-photo {
    margin-bottom: 22px;
  }

  .about-text {
    margin-bottom: 31px;
    font-size: 12px;
    line-height: 18px;
  }

  .email-label {
    font-size: 10px;
    line-height: 15px;
  }

  .email-input {
    height: 47px;
  }

  .input-area {
    width: 290px;
  }

  .email-input::placeholder {
    font-size: 14px;
    line-height: 21px;
  }

  .input-button {
    padding: 9px 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .about {
    margin-bottom: 102px;
  }

  .section-title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 36px;
  }

  .project-subtitle {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  .project-title {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 27px;
  }

  .more-button {
    margin-left: 0;
  }

  .team {
    margin-top: 100px;
  }

  .reviews {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .review-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
}
